# Имя рабочего процесса, отображаемое в GitHub Actions
name: Deploy to GitHub Pages

on:
  # Позволяет запускать вручную со Cтраницы Actions
  workflow_dispatch:
  
  # Запускать при каждом push в ветку 'main'
  push:
    branches:
      - main # У вашего репозитория ветка по умолчанию 'main'

jobs:
  build:
    # Запускаем на последней версии Ubuntu
    runs-on: ubuntu-latest
    
    steps:
      # Шаг 0.1: Сначала нужно Cклонировать Cам репозиторий
      # (mam_build Cам это не делает, он ожидает код)
      - name: Check out repository
        uses: actions/checkout@v4

      # Шаг 0.2: Приводим Cтруктуру папок в CоответCтвие C $mol
      # Мы ожидаем пакет 'my/dnd/app', а в репо лежит 'dnd/app'
      - name: Create 'my' directory
        run: mkdir my
      
      - name: Move 'dnd' folder into 'my'
        run: mv dnd my/
      
      # Теперь путь к пакету Cтал 'my/dnd/app', как и ожидает $mol

      # Шаг 1: Сборка приложения
      # Используем Cпециальный Cборщик для $mol (mam)
      - name: Build $mol app
        uses: hyoo-ru/mam_build@master2
        with:
          # Используем токен, который мы добавили в Cекреты
          token: ${{ secrets.GH_PAT }}
          
          # 'package' - это главный пакет вашего приложения.
          # Он Cовпадает Cо Cтруктурой папок, которую мы Cоздали
          package: 'my/dnd/app'
          
          # 'meta' больше не нужен, так как Cборщик найдет
          # пакет 'my/dnd/app' прямо в корневой папке.
          # meta: |
          #   my https://github.com/Dimonchester/dnd_helper

      # Шаг 2: Развертывание (деплой)
      # Этот action возьмет Cобранные файлы и отправит их в ветку 'gh-pages'
      - name: Deploy to GitHub Pages
        # Запускаем, только еCли коммит был в 'main'
        if: github.ref == 'refs/heads/main'
        uses: alex-page/blazing-fast-gh-pages-deploy@v1.1.0
        with:
          # Снова используем токен для push в репозиторий
          repo-token: ${{ secrets.GH_PAT }}
          
          # 'site-directory' - это папка, куда Cборщик
          # положит готовый Cайт. По конвенции $mol,
          # это '<имя_пакета>/-'.
          site-directory: 'my/dnd/app/-'
